@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Kalnia:wght@500&family=Open+Sans&family=Patrick+Hand+SC&family=Shadows+Into+Light&family=Space+Grotesk&display=swap');
body{
  margin:0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
  width: 100%;
  padding:0;
  margin: 0;
}

.body-first{
    background-image: url(../img/banner-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:20px 20px 100px 100px;
}
.body-first>div{
  flex:1;
}

.moving-bar{
    background-color: darkred;
    overflow: hidden;
    white-space: nowrap;
}
ul.moving-bar-items{
  display: flex;
  justify-content: space-evenly;
  animation: scrollItems 60s linear infinite;
  margin: 0;
}
@keyframes scrollItems {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

ul.moving-bar-items>li{
    color:aliceblue;
    font-size:15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px 24px 8px 0;
    accent-color: orange;
}
ul.moving-bar-items>li::before{
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.body-first-images{
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-first-images img:first-child{
  width: auto;
  height: 500px;
}
.body-first-images img:last-child{
  width: auto;
  height: 400px;
  position: relative;
  left: -450px;
  top: 75px;
}
.first-section h1{
  font-family: 'Beau Rivage', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  color:white;
  word-spacing: 2px;
  line-height: 1;
  margin-top: 0px;
}
.first-section h2{
  color:chocolate;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.Exclusiveoffer p{
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(233, 245, 65);
  text-transform: uppercase;
  font-size: x-small;
 
}

.nav{
  display: flex;
  padding: 5px;
}
.nav div{
  flex: 1;
}

.nav-main-logo{
  float: left;
  position: relative;
  left: 170px;
}
.nav-main-logo>a>img{
  width: 170px;
}
.nav-button-container{
  display: flex;
  align-items: center;
  position: relative;
  left: 350px;
}
.nav-button-container>button{
 background-color: #17e22d;
 border-radius: 5px;
 border: 1px black solid;
 width: 175px;
 height: 45px;
}
.nav-button-container>button>a{
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}
.Disclaimer-container{
  display: flex;
  width: 480px;
  height: 100px;
  background-color:#c84e22;
  margin-left: 35px;
}
.Disclaimer-text{
  width: 80%;
  border-left: none;
  color: antiquewhite;
  border: 1px solid black;
  border-left: none;
  padding: 5px;
  border-radius: 0 5px 5px 0;
}
.Disclaimer-icon{
  width: 20%;
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  position: relative;
}
.Disclaimer-icon img{
  display: inline-block;
  position: relative;
  left: 15px;
}
.Disclaimer-text h1{
  font-size: medium;
  text-transform: uppercase;
  color: #cfcc0b;
  margin-bottom: 0;
}
.Disclaimer-text p{
  font-size: small;
  margin-top: 7px;
  text-align:left;
}
#pooping-btn{
  animation: zoom-in-zoom-out 2s ease-out infinite;
  background-color: #17e22d;
  border-radius: 5px;
  border: 1px black solid;
  width: 400px;
  height: 45px;
  font-size: larger;
  font-weight: bold;
  position: relative;
  left: 40px;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.second-section p span{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #f7ac18;
    text-align: center;
    font-size: 22px;
    margin-right: 5px;
    color:#f7ac18;
}
.second-section p{
  font-size: 20px;
  color:#f7ac18;
  margin-left: 10px;
}
.second-section ul li{
  list-style-type: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  line-height: 1cm;
  margin-top: 0;

}
.second-section ul li span{
  display: inline-block;
  margin-right: 20px;
  font-size: 15px;
  border: 1px solid green;
  background-color: #17e22d;
  width: 35px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  padding-bottom: 10px;
  color: #c84e22;
}

.third-section ul{
  display: flex;
}
.third-section ul li{
  background-image: url(../img/button_list-tick.png);
  background-repeat: no-repeat;
  background-size: 15px;

  padding-left: 20px;
  display: inline-block;
  margin-right: 20px;
  color: aliceblue;
  font-size: small;
}
.body-seconddiv{
  box-shadow: 0 10px 10px rgb(65, 60, 60);
} 
p.img-banner{
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}
.img-banner img{
  display: inline-block;
  width: auto;
  height: 30px;
}
.img-banner{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 100px;
}
.body-second-container{
  display: flex;
  margin-top: 50px;
}
div.body-second-container-img{
  background-image: url(../img/s1-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 700px;
  overflow: hidden;
  margin-left: 110px;
}
.body-second-container-text{
flex-grow: 2;
margin-left: 40px;
text-align: left;
}
.body-second-container-text h2{
  color:#f78258;
  font-weight: normal;
  text-transform: capitalize;
}
.body-second-container-text div h2+h1{
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1;
  padding-right: 100px;
  font-size: 45px;
} 
.body-second-container-text div{
  width: 600px;
}
.body-second-container-text-points h2,p{
  padding-right: 20px;
}
.body-second-container-text-points h2{
  color: black;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
}
.body-second-container-text-points h2 span{
  display: inline-block;
  border: 1px orangered solid;
  border-radius: 50%;
  background-color: #c84e22;
  font-size: 20px;
  color: aliceblue;
  text-align: center;
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.body-second-container-text-points p{
  border-left: 2px solid orangered;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12px;
}
.body-second-container-text-points p:last-child{
  border-left: none;
}
.third-section.black ul{
  display: flex;
}
.third-section.black ul li{
  background-image: url(../img/button_list-tick-black.png);
  background-repeat: no-repeat;
  background-size: 15px;

  padding-left: 20px;
  display: inline-block;
  margin-right: 20px;
  color: black;
  font-size: small;
}
div.body-third{
  align-items: center;
  align-content: center;
  text-align: center;
}
.body-third{
  display: flex;
  flex-direction: column;
}
.body-third p:first-of-type{
  color:#c84e22;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 0;
  text-transform: capitalize;
}
.body-third h1{
  font-family: 'Space Grotesk', sans-serif;
  text-transform: capitalize;
  font-size: 40px;
  width: 600px;
  margin-top: 0;
  line-height: 1;
}
.body-third p:last-of-type{
  width: 790px;
  font-size: larger;
  margin-top: 0;
}